<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/materia/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
    <h1><%= message %></h1>
    <a href="/files" class="btn btn-primary">Go to Files</a>
    <a href="/jobs" class="btn btn-secondary">Go to Jobs</a> 
    <a href="/workitems" class="btn btn-secondary">Go to Tasks</a> 
</div>
</body>
</html>
